.rect{
  display: flex;
  background-color: #f7f7f7;
  width: 620px;
  height: 320px;
  border-radius: 10px;
}

.profile-section{
  width: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  border: 8px solid black;
}

.contact-info{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  height: 25px;
}

.info{
  height: 240px;
  display: grid;
  grid-template-columns: 20px 1fr;
  column-gap: 15px;
  row-gap: 27px;
}

.header-menu .contact{
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #808080;
}

.home:hover,.project:hover,.course:hover,.about:hover{
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #808080;
}

@media (max-width:650px){
  .rect{
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    width: 350px;
    height: 530px;
    border-radius: 10px;
  }

  .profile-section{
    width: 350px;
    height: 250px;
  }

  .mob-menu .contact{
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #ffe2e2;
  }
  
  .home:hover,.project:hover,.course:hover,.about:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #ffe2e2;
}
}