.course-layout{
  width: 1000px;
  height: 460px;
  display: grid;
  grid-template-columns:200px 200px 200px 200px;
  column-gap: 66px;
  row-gap: 57px;
}

.course-rect{
  background-color: #f7f7f7;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

img{
  height: 115px;
}

.header-menu .course{
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #808080;
}

.contact:hover,.project:hover,.home:hover,.about:hover{
  text-decoration: underline;
  text-underline-offset: 8px;
  color: #808080;
}

.page p{
  margin-top: 30px;
}

@media (max-width:650px){

  .course-layout{
    width: 320px;
    height: 700px;
    display: grid;
    grid-template-columns: 110px 110px;
    column-gap: 70px;
    row-gap: 40px;

  }

  .course-rect{
    width: 130px;
    height: 130px;
    border-radius: 8px;
  }

  img{
    height: 70px;
  }

  .page{
    height: auto;
  }
  
  .mob-menu .course{
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #ffe2e2;
  }
  
  .contact:hover,.project:hover,.home:hover,.about:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #ffe2e2;
}

}